
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
  }
  
  .login-box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  button.submit-btn {
    width: 80%;
    padding: 12px;
    margin-top: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button.submit-btn:hover {
    background-color: #357ab8;
  }
  

  @media (max-width: 768px) {
    .login-box {
      width: 90%;
      padding: 1.5rem;
    }
    input {
      font-size: 14px;
    }
  
    button.submit-btn {
      font-size: 16px;
    }
  }
  
  @media (max-width: 468px) {
    .login-box {
      width: 320px;
      padding: 1.5rem;
    }
  }
  
  @media (max-width: 320px) {
    .login-box {
      width: 90%;
    }
    input {
      font-size: 14px;
      padding: 8px;
    }
  
    button.submit-btn {
      font-size: 14px;
      padding: 10px;
    }
  }